    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="resource-type" content="document" />
    <meta http-equiv="content-language" content="en-us" />
    <meta name="author" content="Naomi Cui" />
    <meta name="contact" content="cui.naomi@gmail.com" />
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="imgs/apple-touch-icon-precomposed.png" />
    <meta name="description" content="HanjaWangja is an English language resource for Chinese characters as used in Korean (Hanja)." />
    <meta name="keywords" content="Korean, Korean language, South Korea, North Korea, Chinese characters, hanja, hanzi, kanji" />

    <title>HanjaWangja</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/animate.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascripts/main.js" language="javascript" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
