<header>
    <div id="head">
        <div id="logo-head">
            <a class="brand" href="#"><img src="/images/logo-head.png"></a>
        </div>
        <nav>
            <ul class="nav">
                <a href="about.html"><li class="navlink">About</li></a>
                <li class="navlink"><div class="hasSubmenu">Learn</div>
                    <ul class="submenu fadeInDown">
                        <a href="#"><li class="subnavlink">Introduction</li></a>
                        <a href="#"><li class="subnavlink">Level 1</li></a>
                    </ul>
                </li>
                <a href="#"><li class="navlink">Resources</li></a>
                <li id="searchnav">
                    <form class="searchbar">
                        <input type="text" placeholder="Search for character" required>
                        <label for="search">Search</label>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>