<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <% include ./partials/header.ejs %>
</head>

<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<div class="wrapper">

<% include ./partials/nav.ejs %>

<div id="front-main">

<h2>Error: <%= message %></h2>

</div>

</div>

</body>

</html>